<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        {{>file}}
        <link rel="stylesheet" href="/css/style.css">
        <script src='/js/app.js'></script>
    </head>
    <body>
        {{>header}}
        <h1>About Me</h1>
        <img class="potrait" src='/img/about.jpeg'>
        <br><br>
        <p style="font-size:24px"> This site is developed by Piyush Bansal. It uses the MapBox and Darknet Api to get the weather Location.</p>
        {{>footer}}
    </body>
</html>